<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <properties id="ant-preprocessing">
      <options enabled="true" />
    </properties>
    <root id="archive" name="Server.jar">
      <element id="directory" name="META-INF">
        <element id="dir-copy" path="$PROJECT_DIR$/manifest/server/META-INF" />
      </element>
      <element id="module-output" name="JOBS" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/com/google/protobuf/protobuf-java/2.5.0/protobuf-java-2.5.0.jar" path-in-jar="/" />
      <element id="dir-copy" path="$PROJECT_DIR$/src/com/bbva/ticker/model" />
      <element id="dir-copy" path="$PROJECT_DIR$/src/com/bbva/ticker/DataSource" />
      <element id="dir-copy" path="$PROJECT_DIR$/src/com/bbva/ticker/service" />
    </root>
  </artifact>
</component>